<h2>Details Team</h2>
<h3>{{ dataTeamId.name }}</h3>

<section>
    <div>
        <img src="{{ dataTeamId.crestUrl }}" alt="team-logo">
    </div>
    <div>
        <p>Country: {{ dataTeamId.area.name }}</p>
        <p>Address: {{ dataTeamId.address }}</p>
        <p> <a href="{{ dataTeamId.website }}">Website Official</a> </p>
        <p>Founded: {{ dataTeamId.founded }}</p>
        <p>Club colors: {{ dataTeamId.clubColors }}</p>
        <p>Venue: {{ dataTeamId.venue }}</p>
        <p>Last update: {{ dataTeamId.lastUpdated }}</p>
    </div>

    <button>Edit</button>
    <button>Delete</button>
</section>